* {
  margin: 0;
  padding: 0;
}


// body{
//   cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
// }

body{
  cursor: url('https://png.pngtree.com/png-clipart/20220122/ourmid/pngtree-mouse-pointer-arrow-triangle-arrow-solid-black-png-image_4362129.png'), auto;
}

// body{
//   cursor: url('https://png.pngtree.com/png-clipart/20220122/ourmid/pngtree-mouse-pointer-arrow-triangle-arrow-solid-black-png-image_4362129.png'),auto;
// }
