.main {
  background: linear-gradient(180deg, #ffffff 0%, #ecf0fd 100%);
  margin: 0%;
  .testimonial {
    height: max-content;
    width: 100%;
    .header {
      padding-top: 15vh;
      .heading {
        max-width: 30vw;
        height: 17vh;
        font-family: "Circular Std";
        font-size: 3vw;
        line-height: 4vw;
      }
    }
    .testim {
      margin-top: -4.8vw;
      margin-left: 3vw;
      padding-bottom: 5vh;
      height: max-content;
      width: 93vw;
      background-image: url("../../public/testigreen.png"),
        url("../../public/testiorange.svg");
      background-repeat: no-repeat;
      background-position: 20vw 38.3vh, 46vw 18vh;
      background-size: 27vw, 27vw;
      .leftImages {
        height: 60vh;
        width: 20vw;
        .image {
          position: relative;
          box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
          background: transparent;
        }
        .ellipse9 {
          animation: fadeInAnimation 2s;
          height: 4.5vw;
          top: 25vh;
          left: 0;
        }
        .ellipse9:hover {
          height: 4.5vw;
          box-shadow: 1px 1px 9px black;
          border-radius: 50px;
        }
        .ellipse6 {
          animation: fadeInAnimation ease 2s;
          margin-top: 50vh;
          height: 5.2vw;
          bottom: 0;
        }
        .ellipse6:hover {
          box-shadow: 1px 1px 9px black;
          border-radius: 50px;
        }
        .ellipse14 {
          animation: fadeInAnimation ease 2s;
          height: 7vw;
        }
        .ellipse14:hover {
          box-shadow: 1px 1px 10px black;
          border-radius: 70px;
        }
        @keyframes fadeInAnimation {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
      .slider {
        margin-top: 8.5vw;
        margin-left: 7vw;
        width: 38vw;
        height: 25vh;
      }
      .slideController {
        position: absolute;
        bottom: 6vh;
        right: 30vw;
        height: 2.5vw;
        width: fit-content;
        .arrow {
          border: none;
          background: transparent;
          margin: -10%;
          .nextR {
            transform: rotate(180deg);
          }
          .O {
            opacity: 0.5;
          }
          .nextR:hover {
            opacity: 0.5;
          }
          .next:hover {
            opacity: 0.5;
          }
          .prev {
            transform: rotate(180deg);
            opacity: 1;
          }
        }
      }
      .rightImages {
        margin-left: 3vh;
        right: 1vw;
        height: 65vh;
        width: 20vw;
        .image {
          position: relative;
          box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
          background: transparent;
        }
        .ellipse10 {
          height: 5vw;
          left: 1.2vw;
          object-fit: contain;
        }
        .ellipse10:hover {
          box-shadow: 1px 1px 9px black;
          border-radius: 50px;
        }
        .ellipse11 {
          height: 4vw;
          bottom: -88%;
          left: -2.3vw;
        }
        .ellipse11:hover {
          box-shadow: 1px 1px 9px black;
          border-radius: 50px;
        }
        .ellipse5 {
          margin-top: 23vh;
          height: 10vw;
        }
        .ellipse5:hover {
          box-shadow: 1px 1px 9px black;
          border-radius: 50px;
          border-radius: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .main {
    .testimonial {
      .header {
        padding-top: 7vh;
      }
      .testim {
        .leftImages {
          .ellipse9 {
            left: 5vw;
          }
          .ellipse6 {
            left: 5vw;
          }
          .ellipse14 {
            height: 7vw;
            left: 2vw;
          }
        }
        .slideController {
          bottom: 10vh;
        }
        .rightImages {
          margin-left: 1vh;
          justify-content: center;

          .ellipse10 {
            height: 5vw;
            left: 1.2vw;
          }
          .ellipse11 {
            bottom: -70%;
          }
          .ellipse5 {
            margin-top: 23vh;
            height: 10vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    .testimonial {
      .header {
        padding-top: 5vh;
      }
      .testim {
        background-position: 20vw 31.3vh, 46vw 18vh;
        .leftImages {
          .ellipse9 {
            left: 10vw;
          }
          .ellipse6 {
            left: 10vw;
          }
          .ellipse14 {
            height: 7vw;
            left: 7vw;
          }
        }
        .slideController {
          bottom: 20vh;
        }
        .rightImages {
          margin-left: 0vh;
          .ellipse10 {
            height: 5vw;
            left: 1.2vw;
          }
          .ellipse11 {
            bottom: -65%;
          }
          .ellipse5 {
            margin-top: 23vh;
            height: 10vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main {
    .testimonial {
      height: 74vh;
      .header {
        padding-top: 3vh;
        .heading {
          height: 16vh;
          font-size: 24px;
        }
      }
      .testim {
        background-position: 20vw 27.3vh, 46vw 18vh;
        .leftImages {
          .ellipse9 {
            left: 5vw;
            height: 7vw;
          }
          .ellipse6 {
            height: 9.2vw;
            bottom: 40px;
          }
          .ellipse14 {
            height: 10vw;
            left: 0vw;
            bottom: 3vh;
          }
        }
        .slideController {
          bottom: 25vh;
        }
        .rightImages {
          margin-left: 0vh;
          .ellipse10 {
            height: 7vw;
            left: 0.2vw;
          }
          .ellipse11 {
            bottom: -60%;
            height: 6vw;
          }
          .ellipse5 {
            margin-top: 20vh;
            height: 12vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .main {
    .testimonial {
      .header {
        padding-top: 3vh;
        .heading {
          max-width: 30vw;
          height: 16vh;
          font-size: 22px;
        }
      }
      .testim {
        .slideController {
          bottom: 27vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main {
    .testimonial {
      height: 65vh;
      .header {
        .heading {
          max-width: 44vw;
          height: 16vh;
          font-size: 26px;
        }
      }
      .testim {
        background-position: 20vw 27.3vh, 46vw 18vh;
        width: 90vw;
        .leftImages {
          .ellipse9 {
            left: 5vw;
            height: 7vw;
            top: 18vh;
          }
          .ellipse6 {
            height: 9.2vw;
            bottom: 100px;
          }
          .ellipse14 {
            height: 10vw;
            left: 0vw;
            bottom: 3vh;
          }
        }
        .slideController {
          bottom: 30vh;
        }
        .rightImages {
          margin-left: 0vh;
          .ellipse10 {
            height: 7vw;
            left: 0.2vw;
          }
          .ellipse11 {
            bottom: -60%;
            height: 6vw;
          }
          .ellipse5 {
            margin-top: 20vh;
            height: 12vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .main {
    .testimonial {
      height: 60vh;

      .header {
        .heading {
          height: 16vh;
          font-size: 18px;
        }
      }
      .header {
        .heading {
          max-width: 50vw;
          height: 15vh;
          font-size: 22px;
          line-height: 5vw;
        }
      }
      .testim {
        background-position: 20vw 27.3vh, 60vw 22vh;
        .leftImages {
          .ellipse9 {
            left: 5vw;
            height: 7vw;
            top: 18vh;
          }
          .ellipse6 {
            height: 9.2vw;
            bottom: 100px;
          }
          .ellipse14 {
            height: 10vw;
            left: 0vw;
            bottom: 3vh;
          }
        }
        .slider {
          margin-top: 12vw;
        }
        .slideController {
          right: 25vw;
          bottom: 31vh;
          .arrow svg {
            height: 20px;
          }
        }
        .rightImages {
          margin-left: 0vh;
          .ellipse10 {
            height: 7vw;
            left: 0.2vw;
          }
          .ellipse11 {
            bottom: -60%;
            height: 6vw;
          }
          .ellipse5 {
            margin-top: 12vh;
            height: 12vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 442px) {
  .main {
    .testimonial {
      height: 58vh;

      .header {
        .heading {
          max-width: 55vw;
          height: 13vh;
          font-size: 21px;
          line-height: 5vw;
        }
      }
      .testim {
        background-position: 20vw 27.3vh, 60vw 22vh;
        .leftImages {
          .ellipse9 {
            left: 0vw;
            height: 7vw;
            top: 18vh;
          }
          .ellipse6 {
            height: 9.2vw;
            bottom: 130px;
          }
          .ellipse14 {
            height: 10vw;
            left: 0vw;
            bottom: 3vh;
          }
        }
        .slider {
          margin-top: 12vw;
        }
        .slideController {
          right: 25vw;
          bottom: 35vh;
          .arrow svg {
            height: 20px;
          }
        }
        .rightImages {
          margin-left: 0vh;
          .ellipse10 {
            height: 7vw;
            left: 0.2vw;
          }
          .ellipse11 {
            bottom: -50%;
            height: 6vw;
          }
          .ellipse5 {
            margin-top: 10vh;
            height: 10vw;
            left: 11px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .main {
    .testimonial {
      .header {
        .heading {
          max-width: 55vw;
          height: 12vh;
          font-size: 18px;
          line-height: 5vw;
        }
      }
      .testim {
        background-position: 20vw 27.3vh, 60vw 22vh;
        .leftImages {
          .ellipse9 {
            left: 0vw;
            height: 6vw;
            top: 18vh;
          }
          .ellipse6 {
            height: 9.2vw;
            bottom: 180px;
          }
          .ellipse14 {
            height: 10vw;
            left: 0vw;
            bottom: 3vh;
          }
        }
        .slider {
          margin-top: 12vw;
        }
        .slideController {
          right: 25vw;
          bottom: 35vh;
          .arrow svg {
            height: 20px;
          }
        }
        .rightImages {
          margin-left: 0vh;
          .ellipse10 {
            height: 7vw;
            left: 0.2vw;
          }
          .ellipse11 {
            bottom: -50%;
            height: 6vw;
          }
          .ellipse5 {
            display: none;
          }
        }
      }
    }
  }
}
